/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .xdebug-error{
     display: none !important;
 }
 .cf-radio__list-item{
     display: inline-block;
     margin-right: 15px;
 }
 .cf-radio__list-item input{
     
 }
 .cf-radio__list-item label{
     height: 30px;
     width: 30px;
     border: 1px solid #c6c6c6;
     display: inline-block;
     text-align: center;
     line-height: 30px;
     border-radius: 3px;
 }